:root {
	--backgroundColor: #252530;
	--backgroundColorLight: #2b2b36;
	--red: #ff4655;
	--yellow: #fdfd96;
	--green: #96ec88;
	--blue: #5d81ff;
}

p {
	margin: 0;
}

body {
	background-color: var(--backgroundColor);
	margin: 0;
	color: white;
	position: relative;
	overflow-x: hidden;
	// overflow-y: hidden;
	font-family: 'Space Mono Regular';
}

.main {
	overflow: hidden;
	position: absolute;
	.grid {
		width: 105.55vw;
		overflow: hidden;
		.row {
			display: flex;

			// Basic, red and yellow svg cross
			.basicCross {
				&:before {
					background-image: url('../assets/gridCross.svg');
				}
			}
			.redCross {
				&:before {
					background-image: url('../assets/gridCrossRed.svg');
				}
			}
			.yellowCross {
				&:before {
					background-image: url('../assets/gridCrossYellow.svg');
				}
			}
			.noCross {
				&:before {
					background-image: none;
				}
			}

			// Cells
			.cell {
				width: 5.555vw;
				height: 5.555vw;
				background: #252530;
				border-top: 1px solid var(--backgroundColor);
				border-right: 1px solid var(--backgroundColor);
				box-sizing: content-box;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				&:hover {
					background: var(--backgroundColorLight);
				}
				p {
					font-size: 3.7vw;
					user-select: none;
					pointer-events: none;
				}
				p.red {
					color: var(--red);
				}
				p.yellow {
					color: var(--yellow);
				}
				p.green {
					color: var(--green);
				}
				&:first-child {
					border-left: 1px solid var(--backgroundColor);
				}
				&:before {
					content: '';
					width: 1vw;
					height: 1vw;
					position: absolute;
					top: calc(-0.5vw - 0.5px);
					left: calc(-0.5vw - 0.5px);
					background-size: 100% 100%;
				}
				img {
					width: 50%;
				}

				// Menu
				.menuButton {
					width: 2.3vw;
				}
			}
			.noHoverReaction {
				&:hover {
					background-color: var(--backgroundColor);
				}
			}
			.lightBackCell {
				background-color: var(--backgroundColorLight);
			}
		}
	}

	// Baby overlays
	.babyOverlay {
		position: absolute;
	}
	.basicBabyOverlay {
		background: var(--backgroundColor);
		&:hover {
			background: var(--backgroundColorLight);
		}
	}
	.pointerBabyOverlay {
		cursor: pointer;
	}
	.textBabyOverlay {
		display: flex;
		align-items: center;
		font-size: 1vw;
	}
	.passwordResponseBabyOverlay {
		left: calc(1px + 5.555vw * 2);
		top: calc(1px + 5.555vw * 8 + 1px * 8);
		width: calc(5.555vw * 14 - 1.5px);
		height: calc(5.555vw * 2 + 1px * (2 - 1));
		background: var(--backgroundColorLight);
		display: flex;
		justify-content: center;
		align-items: center;
		.textContainer {
			width: calc(60% - 5.55vw / 2);
			height: 80%;
			display: flex;
			align-items: center;
			.text {
				margin: 0;
				font-size: 1.7vw;
			}
		}
		.strengthContainer {
			width: calc(40% - 5.55vw / 2);
			height: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			.strength {
				width: 70%;
				height: 70%;
				.label {
					font-size: 1.5vw;
					margin-bottom: 3px;
				}
				.barContainer {
					width: 100%;
					height: 30%;
					background: var(--backgroundColor);
					position: relative;
					.number {
						position: absolute;
						top: 50%;
						left: 0;
						font-size: 1.2vw;
						margin-left: 5px;
						transform: translateY(-50%);
					}
					.bar {
						width: 35%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background: var(--blue);
					}
				}
			}
		}
	}
	.testBabyOverlay {
		background: lightblue;
		cursor: pointer;
	}
}

@font-face {
	font-family: 'Space Mono Regular';
	src: url('../assets/fonts/spaceMono/SpaceMono-Regular.ttf');
}
