:root {
	--backgroundColor: #252530;
}

body {
	background-color: var(--backgroundColor);
	margin: 0;
}

.grid {
	overflow: hidden;
	.row {
		display: flex;
		.cell {
			width: 5.55vw;
			height: 5.55vw;
			background-color: var(--backgroundColor);
			border-top: 1px solid var(--backgroundColor);
			border-right: 1px solid var(--backgroundColor);
			box-sizing: content-box;
			position: relative;
			&:first-child {
				border-left: 1px solid var(--backgroundColor);
			}
			&:last-child {
				&:after {
					content: '';
					width: 15px;
					height: 15px;
					position: absolute;
					top: -8px;
					right: -8px;
					background-image: url('../assets/gridCross.svg');
					background-size: 100% 100%;
				}
			}
			&:before {
				content: '';
				width: 15px;
				height: 15px;
				position: absolute;
				top: -8px;
				left: -8px;
				background-image: url('../assets/gridCross.svg');
				background-size: 100% 100%;
			}
		}
	}
}
