:root {
  --backgroundColor: #252530;
  --backgroundColorLight: #2b2b36;
  --red: #ff4655;
  --yellow: #fdfd96; }

p {
  margin: 0; }

body {
  background-color: var(--backgroundColor);
  margin: 0;
  color: white;
  position: relative;
  height: 100vh;
  overflow: hidden; }

.main {
  overflow: hidden;
  position: absolute; }
  .main .grid {
    width: 105.55vw;
    overflow: hidden; }
    .main .grid .row {
      display: flex; }
      .main .grid .row .basicCross:before {
        background-image: url("../assets/gridCross.svg"); }
      .main .grid .row .redCross:before {
        background-image: url("../assets/gridCrossRed.svg"); }
      .main .grid .row .yellowCross:before {
        background-image: url("../assets/gridCrossYellow.svg"); }
      .main .grid .row .noCross:before {
        background-image: none; }
      .main .grid .row .cell {
        width: 5.555vw;
        height: 5.555vw;
        background: #252530;
        border-top: 1px solid var(--backgroundColor);
        border-right: 1px solid var(--backgroundColor);
        box-sizing: content-box;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        .main .grid .row .cell:hover {
          background: var(--backgroundColorLight); }
        .main .grid .row .cell p {
          font-family: 'Space Mono Regular';
          font-size: 3.7vw;
          user-select: none;
          pointer-events: none; }
        .main .grid .row .cell p.red {
          color: var(--red); }
        .main .grid .row .cell p.yellow {
          color: var(--yellow); }
        .main .grid .row .cell:first-child {
          border-left: 1px solid var(--backgroundColor); }
        .main .grid .row .cell:before {
          content: '';
          width: 1vw;
          height: 1vw;
          position: absolute;
          top: calc(-0.5vw - 0.5px);
          left: calc(-0.5vw - 0.5px);
          background-size: 100% 100%; }
        .main .grid .row .cell .menuButton {
          width: 2.3vw; }
      .main .grid .row .noHoverReaction:hover {
        background-color: var(--backgroundColor); }
      .main .grid .row .lightBackCell {
        background-color: var(--backgroundColorLight); }
  .main .babyOverlay {
    position: absolute; }
  .main .basicBabyOverlay {
    background: var(--backgroundColor); }
    .main .basicBabyOverlay:hover {
      background: var(--backgroundColorLight); }
  .main .testBabyOverlay {
    background: lightblue;
    cursor: pointer; }

@font-face {
  font-family: 'Space Mono Regular';
  src: url("../assets/fonts/spaceMono/SpaceMono-Regular.ttf"); }
