:root {
  --backgroundColor: #252530;
  --backgroundColorLight: #2b2b36;
  --red: #ff4655;
  --darkRed: #482e39;
  --yellow: #fdfd96;
  --green: #96ec88;
  --blue: #5d81ff;
  --pink: #ea89e0;
  --darkPink: #4c3953; }

p {
  margin: 0; }

body {
  background-color: var(--backgroundColor);
  margin: 0;
  color: white;
  position: relative;
  font-family: 'Space Mono Regular'; }

.main {
  overflow: hidden;
  position: absolute; }
  .main .grid {
    overflow: hidden; }
    .main .grid .row {
      display: flex; }
      .main .grid .row .basicCross:before {
        background-image: url("../assets/gridCross.svg"); }
      .main .grid .row .redCross:before {
        background-image: url("../assets/gridCrossRed.svg"); }
      .main .grid .row .yellowCross:before {
        background-image: url("../assets/gridCrossYellow.svg"); }
      .main .grid .row .noCross:before {
        background-image: none; }
      .main .grid .row .cell {
        width: 5.555vw;
        height: 5.555vw;
        background: #252530;
        border-top: 1px solid var(--backgroundColor);
        border-right: 1px solid var(--backgroundColor);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        user-select: none; }
        .main .grid .row .cell:hover {
          background: var(--backgroundColorLight); }
        .main .grid .row .cell p {
          font-size: 3.7vw; }
        .main .grid .row .cell p.red {
          color: var(--red); }
        .main .grid .row .cell p.yellow {
          color: var(--yellow); }
        .main .grid .row .cell p.green {
          color: var(--green); }
        .main .grid .row .cell p.pink {
          color: var(--pink); }
        .main .grid .row .cell:first-child {
          border-left: 1px solid var(--backgroundColor); }
        .main .grid .row .cell:before {
          content: '';
          width: 1vw;
          height: 1vw;
          position: absolute;
          top: calc(-0.5vw - 0.5px);
          left: calc(-0.5vw - 0.5px);
          background-size: 100% 100%; }
        .main .grid .row .cell img {
          width: 50%; }
        .main .grid .row .cell .menuButton {
          width: 2.3vw; }
      .main .grid .row .noHoverReaction:hover {
        background-color: var(--backgroundColor); }
      .main .grid .row .lightBackCell {
        background-color: var(--backgroundColorLight); }
  .main .babyOverlay {
    position: absolute; }
  .main .basicBabyOverlay {
    background: var(--backgroundColor); }
    .main .basicBabyOverlay:hover {
      background: var(--backgroundColorLight); }
  .main .pointerBabyOverlay {
    cursor: pointer; }
  .main .textBabyOverlay {
    display: flex;
    align-items: center;
    font-size: 1vw; }
  .main .searchInfoBabyOverlay {
    background: var(--backgroundColorLight);
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .searchInfoBabyOverlay .textContainer {
      width: calc(60% - 5.55vw / 2);
      height: 80%;
      display: flex;
      align-items: center; }
      .main .searchInfoBabyOverlay .textContainer .text {
        margin: 0;
        font-size: 1.6vw; }
  .main .passwordResponseBabyOverlay {
    width: calc(5.555vw * 14 + 14 * 1px - 1.5px);
    height: calc(5.555vw * 2 + 1px * (2 - 1));
    left: calc(1px * 2 + 5.555vw * 2 + 2px);
    top: calc(1px + 5.555vw * 9 + 1px * 9);
    opacity: 0; }
    .main .passwordResponseBabyOverlay .strengthContainer {
      width: calc(40% - 5.55vw / 2);
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main .passwordResponseBabyOverlay .strengthContainer .strength {
        width: 70%;
        height: 70%; }
        .main .passwordResponseBabyOverlay .strengthContainer .strength .label {
          font-size: 1.6vw;
          margin-bottom: 3px; }
        .main .passwordResponseBabyOverlay .strengthContainer .strength .barContainer {
          width: 100%;
          height: 30%;
          background: var(--backgroundColor);
          position: relative; }
          .main .passwordResponseBabyOverlay .strengthContainer .strength .barContainer .number {
            position: absolute;
            top: 50%;
            left: 0;
            font-size: 1.2vw;
            margin-left: 5px;
            transform: translateY(-50%); }
          .main .passwordResponseBabyOverlay .strengthContainer .strength .barContainer .bar {
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: var(--blue); }
  .main .errorsDisplayBabyOverlay {
    width: calc(5.555vw * 14 + 14 * 1px - 1.5px);
    height: calc(5.555vw * 2 + 1px * (2 - 1));
    left: calc(1px * 10 + 5.555vw * 2);
    top: calc(1px + 5.555vw * 11 + 1px * 11);
    display: none;
    opacity: 0; }
    .main .errorsDisplayBabyOverlay .textContainer .text {
      font-size: 1.7vw; }
    .main .errorsDisplayBabyOverlay .strengthContainer {
      width: calc(40% - 5.55vw / 2);
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .main .errorsDisplayBabyOverlay .strengthContainer .strength {
        width: 70%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .main .errorsDisplayBabyOverlay .strengthContainer .strength .label {
          font-size: 1.7vw;
          margin-bottom: 5px; }
        .main .errorsDisplayBabyOverlay .strengthContainer .strength .barContainer {
          width: 100%;
          height: 40%;
          background: var(--backgroundColor);
          position: relative; }
          .main .errorsDisplayBabyOverlay .strengthContainer .strength .barContainer .number {
            position: absolute;
            top: 50%;
            left: 0;
            font-size: 1.2vw;
            margin-left: 5px;
            transform: translateY(-50%); }
          .main .errorsDisplayBabyOverlay .strengthContainer .strength .barContainer .bar {
            width: 100%;
            height: 100%;
            transform-origin: left;
            transform: scaleX(0); }
      .main .errorsDisplayBabyOverlay .strengthContainer .oldStrength .bar {
        background: var(--red); }
      .main .errorsDisplayBabyOverlay .strengthContainer .newStrength .bar {
        background: var(--blue); }
  .main .bruteForceTimeBabyOverlay {
    width: calc(5.555vw * 14 + 14 * 1px - 1.5px);
    height: calc(5.555vw * 5 + 1px * (5 - 1));
    left: calc(1px * 3 + 5.555vw * 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .main .bruteForceTimeBabyOverlay > div {
      width: 100%;
      height: 45%; }
      .main .bruteForceTimeBabyOverlay > div .infos {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-between; }
        .main .bruteForceTimeBabyOverlay > div .infos .passwordInfos {
          width: 48%;
          height: 100%; }
        .main .bruteForceTimeBabyOverlay > div .infos .timeInfos {
          width: 48%;
          height: 100%;
          justify-content: flex-end; }
        .main .bruteForceTimeBabyOverlay > div .infos > div {
          display: flex;
          align-items: center; }
          .main .bruteForceTimeBabyOverlay > div .infos > div .label {
            color: grey;
            font-size: 1.5vw;
            margin: 0 2vw 0 2vw; }
          .main .bruteForceTimeBabyOverlay > div .infos > div .password {
            font-size: 2.5vw; }
          .main .bruteForceTimeBabyOverlay > div .infos > div .time {
            font-size: 2.5vw;
            margin: 0 2vw 0 0; }
      .main .bruteForceTimeBabyOverlay > div .bars {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .main .bruteForceTimeBabyOverlay > div .bars .barContainer {
          width: 2.5%;
          height: 85%; }
          .main .bruteForceTimeBabyOverlay > div .bars .barContainer .bar {
            width: 100%;
            height: 100%;
            transform-origin: bottom;
            transform: scaleY(0); }
    .main .bruteForceTimeBabyOverlay .oldPassword .barContainer {
      background: var(--darkRed); }
      .main .bruteForceTimeBabyOverlay .oldPassword .barContainer .bar {
        background: var(--red); }
    .main .bruteForceTimeBabyOverlay .newPassword .barContainer {
      background: var(--darkPink); }
      .main .bruteForceTimeBabyOverlay .newPassword .barContainer .bar {
        background: var(--pink); }
  .main .dbInfo {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .dbInfo p {
      font-size: 1.7vw;
      width: 70%;
      padding: 3% 10% 3% 10%;
      background: var(--backgroundColor); }
  .main .occurencesInfo {
    background: var(--backgroundColorLight); }
    .main .occurencesInfo div {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .main .occurencesInfo div p {
        font-size: 1.5vw;
        width: 85%; }
  .main .labelBabyOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; }
    .main .labelBabyOverlay p {
      font-size: 2.3vw;
      opacity: 1; }
  .main .redLabelBabyOverlay {
    display: flex;
    align-items: center;
    pointer-events: none; }
    .main .redLabelBabyOverlay p {
      font-size: 2.3vw;
      color: var(--red);
      opacity: 0; }
  .main .yellowLabelBabyOverlay {
    display: flex;
    align-items: center;
    pointer-events: none; }
    .main .yellowLabelBabyOverlay p {
      font-size: 2.3vw;
      color: var(--yellow);
      opacity: 0; }
  .main .testBabyOverlay {
    background: lightblue;
    cursor: pointer; }

@font-face {
  font-family: 'Space Mono Regular';
  src: url("../assets/fonts/spaceMono/SpaceMono-Regular.ttf"); }
